.carousel-background {
    background-color: rgb(255, 255, 255); /* Black with transparency */
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    margin-top:20px;
    margin-bottom:20px;
  }
  
  .match-info {
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: px;
    border: 2px rgb(222, 222, 222) solid;
    width: 100%;
    height: max-content;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3px;
  }
  
  
  .match-info p {
    margin: 0;
    padding: 10px;
    color: rgb(0, 0, 0);
    
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 1200px) {
    .match-info {
      width: 30%; /* Adjust width as needed */
    }
  }
  
  @media (max-width: 768px) {
    .match-info {
      width: 45%; /* Adjust width as needed */
    }
  }
  
  @media (max-width: 480px) {
    .match-info {
      width: 80%; /* Adjust width as needed */
    }
  }
/* matchdaycarousal.css */

/* Customize the carousel control buttons to be black */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Change the background color to black */
    border-radius: 50%; /* Optional: add border-radius to make it round */
}
