.responsive-table th,
.responsive-table td {
    padding: 5px; /* Adjust the value as needed */
    text-align: center;
}
.responsive-table{
    border-radius: 15px;
    color: rgb(0, 0, 0);
   
}
.points-table{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}