.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .skills-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff; /* White background */
    height: 50px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .moving-text-wrapper {
    display: flex;
    animation: moveLeftToRight 50s linear infinite;
  }
  
  .moving-text {
    white-space: nowrap;
    font-family: 'DM Serif Display', serif; /* Applying DM Serif Display font */
    font-size: 24px; /* Adjust the font size */
    color: black; /* Black text */
    padding-right: 10px; /* Space between repeated text */
  }
  
  /* Infinite scrolling effect */
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Move the content to the left half of the screen */
    }
  }
  